@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cbedfb;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: center;
    background-color: #4d93d9;
}

main {
    padding-bottom: 5rem;
}

.dados {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.dados p {
    background-color: #4d93d9;
    min-width: 10rem;
    padding: 0 1rem;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    padding: 2em;
    font-size: 20px;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Arimo", sans-serif;
    text-align: center;
    margin: 1rem;
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.5rem;
    height: 2.8rem;
    width: 100%;
    background-color: #60d2ff;
    position: fixed;
    bottom: 0;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}