@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cbedfb;
}

main {
    padding-bottom: 5rem;
}

header  h1 {
    font-family: "Arimo", sans-serif;
    text-align: center;
    margin: 1rem;
    font-size: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    gap: 2rem;
}

.titulo_tabela {
    text-align: center;
    padding: 0.3rem;
    font-family: "Arimo", sans-serif;
}

.gastos,
.entradas,
.fixos,
.cartao {
    flex: 0 0 45%;
    background-color: #4d93d9;
    border-radius: 1rem;
    padding: 1rem;
}

.botoes_tabelas {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 0.5rem;
}

.botao {
    color: #000000;
    text-decoration: none;
    background-color: #60d2ff;
    border-radius: 1rem;
    padding: 0.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabela_gastos,
.tabela_entradas,
.tabela_fixos,
.tabela_cartao {
    margin: 0 auto;
    border-collapse: collapse;
}


th, td {
    padding: 0.5rem;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #60d2ff;
    position: fixed;
    bottom: 0;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
}