{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'entradas/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
</head>
<body>
    <header>
        <h1>Entradas do Mês</h1>
    </header>
    <main>
        <div class="info">
            <section class="container">
                <div class="entradas">
                    <table border="1" class="tabela_entradas">
                        <thead>
                            <th>Data</th>
                            <th>Origem</th>
                            <th>Valor</th>
                            <th>Editar</th>
                            <th>Remover</th>
                        </thead>
                        <tbody>
                            {% for entrada in entradas %}
                                <tr>
                                    <td>{{ entrada.data }}</td>
                                    <td>{{ entrada.origem }}</td>
                                    <td>{{ entrada.valor }}</td>
                                    <td><a href="{% url 'entradas:editar_entradas' entrada.id %}" class="botao">Editar</a></td>
                                    <td><a href="{% url 'entradas:excluir_entradas' entrada.id %}" class="botao">Excluir</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="botoes_tabelas">
                <a href="{% url 'entradas:cadastrar_entradas' %}" class="botao">Cadastrar Entrada</a>
            </div>
            <div class="botoes">
                <a href="{% url 'financeiro:inicio' %}" class="botao">Inicio</a>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>