@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cbedfb;
}

main {
    padding-bottom: 5rem;
}

header  h1 {
    font-family: "Arimo", sans-serif;
    text-align: center;
    margin: 1rem;
    font-size: 50px;
}

.div {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #4d93d9;
    border-radius: 1rem;
    height: 22rem;
    width: 18rem;
}

.input_nome,
.input_valor_parcela,
.input_total_parcela,
.input_data {
    display: flex;
    padding: 0.5rem;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.salvar {
    border-radius: 1rem;
    padding: 0.6rem;
    background-color: #d0f2ff;
}

.botao {
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    background-color: #4d93d9;
    border-radius: 2rem;
    padding: 0.6rem;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #60d2ff;
    position: fixed;
    bottom: 0;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    font-family: "Montserrat", sans-serif;
}