{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'fixos/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixos</title>
</head>
<body>
    <header>
        <h1>Fixos</h1>
    </header>
    <main>
        <div class="fix">
            <form method="post" class="formulario">
                {% csrf_token %}
                <div class="info_formulario">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="salvar">Salvar</button>
            </form>
        </div>
        <div class="botoes">
            <a href="{% url 'financeiro:inicio' %}" class="botao">Inicio</a>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>