{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'visao_geral/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos</title>
</head>
<body>
    <header>
        <h1>Fevereiro</h1>
    </header>
    <main>
        <div class="container">
            <section class="gastos">
                <table border="1" class="tabela_gastos">
                    <thead>
                        <th>Nome</th>
                        <th>Registro</th>
                        <th>Tipo</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <th>Remover</th>
                    </thead>
                    <tbody>
                        {% for gasto in gastos %}
                            <tr>
                                <td>{{ gasto.nome }}</td>
                                <td>{{ gasto.registro }}</td>
                                <td>{{ gasto.tipo }}</td>
                                <td>{{ gasto.categoria }}</td>
                                <td>{{ gasto.valor }}</td>
                                <td><a href="{% url 'financeiro:editar_gastos' gasto.id %}" class="botao">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_gastos' gasto.id %}" class="botao">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_gastos' %}" class="botao">Cadastrar Gastos</a>
                </div>
            </section>
            <section class="entradas">
                <table border="1" class="tabela_entradas">
                    <thead>
                        <th>Data</th>
                        <th>Origem</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </thead>
                    <tbody>
                        {% for entrada in entradas %}
                            <tr>
                                <td>{{ entrada.data }}</td>
                                <td>{{ entrada.origem }}</td>
                                <td>{{ entrada.valor }}</td>
                                <td><a href="{% url 'financeiro:editar_entradas' entrada.id %}" class="botao">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_entradas' entrada.id %}" class="botao">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_entradas' %}" class="botao">Cadastrar Entradas</a>
                </div>
            </section>
            <section>
                <table border="1">
                    <thead>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <Th>Excluir</Th>
                    </thead>
                    <tbody>
                        {% for fixo in fixos %}
                            <tr>
                                <td>{{ fixo.nome }}</td>
                                <td>{{ fixo.data }}</td>
                                <td>{{ fixo.tipo }}</td>
                                <td>{{ fixo.categoria }}</td>
                                <td>{{ fixo.valor }}</td>
                                <td><a href="{% url 'financeiro:editar_fixos' fixo.id %}">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_fixos' fixo.id %}">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'financeiro:cadastrar_fixos' %}">Cadastrar Fixos</a>
            </section>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>