{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'visao_geral/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos</title>
</head>
<body>
    <header>
        <h1>Fevereiro</h1>
    </header>
    <main>
        <div class="container">
            <a href="{% url 'financeiro:gastos' %}">Gastos</a>
            <a href="{% url 'financeiro:entradas' %}">Entradas</a>
            <section class="fixos">
                <h2 class="titulo_tabela">Fixos</h1>
                <table border="1" class="tabela_fixos">
                    <thead>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <Th>Excluir</Th>
                    </thead>
                    <tbody>
                        {% for fixo in fixos %}
                            <tr>
                                <td>{{ fixo.nome }}</td>
                                <td>{{ fixo.data }}</td>
                                <td>{{ fixo.tipo }}</td>
                                <td>{{ fixo.categoria }}</td>
                                <td>{{ fixo.valor }}</td>
                                <td><a href="{% url 'financeiro:editar_fixos' fixo.id %}" class="botao">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_fixos' fixo.id %}" class="botao">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_fixos' %}" class="botao">Cadastrar Fixos</a>
                </div>
            </section>
            <section class="cartao">
                <h2 class="titulo_tabela">Cartão de Crédito</h1>
                <table border="1" class="tabela_cartao">
                    <thead>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Parcela</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </thead>
                        <tbody>
                            {% for conta in cartao %}
                                <tr>
                                    <td>{{ conta.nome }}</td>
                                    <td>{{ conta.data }}</td>
                                    <td>{{ conta.parcela }}</td>
                                    <td>{{ conta.categoria }}</td>
                                    <td>{{ conta.valor }}</td>
                                    <td><a href="{% url 'financeiro:editar_cartao' conta.id %}" class="botao">Editar</a></td>
                                    <td><a href="{% url 'financeiro:excluir_cartao' conta.id %}" class="botao">Excluir</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_cartao' %}" class="botao">Cadastrar Cartão</a>
                </div>
            </section>
            <section class="caixinhas">
                <h2 class="titulo_tabela">Caixinhas</h1>
                <table border="1" class="tabela_caixinhas">
                    <thead>
                        <th>Objetivo</th>
                        <th>Meta</th>
                        <th>Guardado</th>
                        <th>Editar</th>
                        <th>Remover</th>
                    </thead>
                    <tbody>
                        {% for caixinha in caixinhas %}
                            <tr>
                                <td>{{ caixinha.objetivo }}</td>
                                <td>{{ caixinha.meta }}</td>
                                <td>{{ caixinha.guardado }}</td>
                                <td><a href="{% url 'financeiro:editar_caixinha' caixinha.id %}" class="botao">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_caixinha' caixinha.id %}" class="botao">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_caixinha' %}" class="botao">Cadastrar Caixinhas</a>
                </div>
            </section>
            <section class="dividas">
                <h2 class="titulo_tabela">Total de Dívidas</h1>
                <table border="1" class="tabela_dividas">
                    <thead>
                        <th>Nome</th>
                        <th>Valor p/ Parcela</th>
                        <th>Total de Parcelas</th>
                        <th>Data de Pagamento</th>
                        <th>Editar</th>
                        <th>Remover</th>
                    </thead>
                    <tbody>
                        {% for divida in dividas %}
                            <tr>
                                <td>{{ divida.nome }}</td>
                                <td>{{ divida.valor_parcela }}</td>
                                <td>{{ divida.total_parcela }}</td>
                                <td>{{ divida.data }}</td>
                                <td><a href="{% url 'financeiro:editar_divida' divida.id %}" class="botao">Editar</a></td>
                                <td><a href="{% url 'financeiro:excluir_divida' divida.id %}" class="botao">Excluir</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="botoes_tabelas">
                    <a href="{% url 'financeiro:cadastrar_divida' %}" class="botao">Cadastrar Dívidas</a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>