{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'visao_geral/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastos</title>
</head>
<body>
    <header>
        <h1>Fevereiro</h1>
    </header>
    <main>
        <div class="container">
            <a href="{% url 'financeiro:gastos' %}">Gastos</a>
            <a href="{% url 'financeiro:entradas' %}">Entradas</a>
            <a href="{% url 'financeiro:fixos' %}">Fixos</a>
            <a href="{% url 'financeiro:cartao' %}">Cartão</a>
            <a href="{% url 'financeiro:caixinhas' %}">Caixinhas</a>
            <a href="{% url 'financeiro:dividas' %}">Dívidas</a>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>