{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'gastos/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
</head>
<body>
    <header>
        <h1>Entradas do Mês</h1>
    </header>
    <main>
        <div class="info">
            <section class="container">
                <div class="gastos">
                    <table border="1" class="tabela_gastos">
                        <thead>
                            <th>Nome</th>
                            <th>Registro</th>
                            <th>Tipo</th>
                            <th>Categoria</th>
                            <th>Valor</th>
                            <th>Editar</th>
                            <th>Remover</th>
                        </thead>
                        <tbody>
                            {% for gasto in gastos %}
                                <tr>
                                    <td>{{ gasto.nome }}</td>
                                    <td>{{ gasto.registro }}</td>
                                    <td>{{ gasto.tipo }}</td>
                                    <td>{{ gasto.categoria }}</td>
                                    <td>{{ gasto.valor }}</td>
                                    <td><a href="{% url 'financeiro:editar_gasto' gasto.id %}" class="botao">Editar</a></td>
                                    <td><a href="{% url 'financeiro:excluir_gasto' gasto.id %}" class="botao">Excluir</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="botoes_tabelas">
                <a href="{% url 'financeiro:cadastrar_gasto' %}" class="botao">Cadastrar Entrada</a>
            </div>
            <div class="botoes">
                <a href="{% url 'financeiro:inicio' %}" class="botao">Inicio</a>
            </div>
        </div>
    </main>
    <footer>
        <a href="https://github.com/Hkawzz/" class="github" target="_blank">GitHub</a>
    </footer>
</body>
</html>