{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'gastos/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
</head>
<body>
    <header>
        <h1>Cadastro de Gastos</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'financeiro:inicio' %}">Inicio</a>
    </main>
</body>
</html>